.preview {
  padding: 2rem 0;
}

.preview h3 {
  color: #333;
  text-align: center;
  font-weight: 700;
  font-size: 1.75rem;
}

.preview-image-container {
  padding: 1rem 1.5rem;
  background: #f5f6f7;
  border: 2px solid rgba(51, 51, 51, 0.48);
  transition: all 0.3s;
  overflow: hidden;
}
.preview-image-container:hover {
  border-color: #9a8453;
}
.preview-image-container:hover .preview-image {
  transform: scale(1.1);
}

.preview-image {
  transition: all 0.3s linear;
}

.preview-name,
.preview-price {
  font-weight: 700;
  line-height: 1;
  font-size: 1.25rem;
  color: #333;
}
.preview-name span,
.preview-price span {
  font-size: 1.15rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #97762f;
}

.preview-details p {
  color: #333;
  font-size: 1rem;
  font-weight: 700;
}
.preview-details p span {
  color: #97762f;
  font-weight: 600;
}

.preview .button {
  background: #9a8453;
  border: none;
  padding: 0.5rem 1.5rem;
}
.preview .button:hover {
  background: #333;
}

@media (max-width: 575px) {
  .preview-image-container,
  .preview-details {
    max-width: 400px;
    margin: 0 auto;
  }
}
